.App, h2 {
  text-align: center;
  color: #282c34;
  position: relative;
  overflow: hidden;
}

.background {
  display: flex;
  width: 100%;
  height: 110%;
  position: fixed;
}

.gow_text {
  position: relative;
  font-size: 18px;
  
}

.show-counter, a {
  display: flex;
  color: white;
  text-decoration: none;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
